.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list__item:nth-child(odd) {
  background-color: rgb(238, 226, 226);
  border: 1px solid rgb(170, 156, 156);
}

// Counter
.list__item_usedCount {
  background-color: rgb(158, 158, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 3px;
  font-size: 18px;
  border-radius: 50%;
}

// Adaptive screen

@media screen and (max-width:485px){
  .list__item {
    width: 100%;
    margin: 5px -10px;
    display: flex;
    justify-content: space-between;

  }
  .list__counter {
    margin-right: 0px;
  }
  .list__item_usedCount {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}